<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ideal.jalen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Splash.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".base.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />

        <activity
            android:name=".matrix.activity.MatrixActivity"
            android:label="@string/matrix"
            android:launchMode="standard" />

        <activity
            android:name=".matrix.activity.MatrixDemostrationActivity"
            android:label="@string/matrix_demonstration"
            android:launchMode="standard" />

        <activity
            android:name=".animator.activity.AnimatorActivity"
            android:label="@string/animator"
            android:launchMode="standard" />

        <activity
            android:name=".animator.activity.transition.TransitionBaseUseActivity"
            android:label="@string/transition_base_use"
            android:launchMode="standard" />

        <activity
            android:name=".animator.activity.transition.TransitionAddTargetActivity"
            android:label="@string/transition_add_target"
            android:launchMode="standard" />

        <activity
            android:name=".animator.activity.transition.TransitionDelayActivity"
            android:label="@string/transition_delay"
            android:launchMode="standard" />


    </application>

</manifest>
